// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
// And for themes customizing: https://vuetifyjs.com/style/theme

// Color Palette: https://vuetifyjs.com/style/colors

// Although, since version https://github.com/vuetifyjs/vuetify/releases/tag/v0.17.0, colors are no
// longer defined **explicitly** in the stylus files.
// you can use `import colors from 'vuetify/es5/util/colors'` in the vuetify instance, under `plugins`
// if you only want to define your color palette.

// you have to define the same palette colors just if you want to use them inside your own stylus files.

// Как выглядят оригинальные вариэйблы:
// https://github.com/vuetifyjs/vuetify/tree/master/src/stylus/settings
// https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl
// https://github.com/vuetifyjs/vuetify/blob/456049415a0d67a5d13df83e77631ccedf287e47/src/components/Vuetify/mixins/theme.ts
$font-size-root ?= 18px;
$heading-font-family ?= 'Russo One', sans-serif;

// цвета менять здесь: plugins/vuetify.js

// задаю цвета из stylus файла color
@require '~vuetify/src/stylus/settings/_colors.styl';

// сделать по нормальному кнопки-переключатели,
.v-btn-toggle .v-btn--active.v-btn {
  background-color: $blue-grey.lighten-2 !important;
}

.v-btn-toggle .v-btn {
  opacity: 0.8 !important;
}

// Import Vuetify styling
@require '~vuetify/src/stylus/main';
